<h2>Index</h2>
<div>
     <span>@ViewBag.Greeting</span> Welcome to index page, please click here for adding a new Party invite...
    <p>
        @Html.ActionLink("RSVP NOW", "RSVPForm", null, new {@class = "hollow button" })
    </p>
</div>
