@model PartyInviteMVC4.Models.GuestResponse
<style type="text/css">
    h2 > span {
        color: forestgreen;
        font-weight: 500
    }
    .confirm-yes {
        color: forestgreen;
    }
    .confirm-no {
        color: red;
    }
</style>
<h2>Thanks <span>@Model.Name</span></h2>

<div>
    @if (Model.WillAttend == true)
    {
        <span class="confirm-yes">It's great that you're coming. The drinks are already in the fridge!</span>
       // @{
            try{
                WebMail.SmtpServer = "smtp.example.com";
                WebMail.SmtpPort = 25;
                WebMail.EnableSsl = false;
                WebMail.UserName = "";
                WebMail.Password = "";
                WebMail.From = "rsvp@example.com";
                WebMail.Send("Party-host@example.com", "RSVP Notification", 
                    Model.Name + "is " + ((Model.WillAttend ?? false) ? "" : "not")
                    + "attending");
            }
            catch{
                <br />
                <b class="confirm-no">Sorry we could not send  the email to confirm your RSVP.</b>
            }
        //}
    }
    else
    {
        <span class="confirm-no">Sorry to hear that you can't make it, but thanks for letting us Know.</span>
    }
</div>